<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parse_client_key</key>
	<string>TZHVjVGoLwUXB4OWmSsrjggED5QbfAncwgHfVA5Z</string>
	<key>parse_application_id</key>
	<string>hoGTDqegZJXJYceSCEKU8lKAKhlk0I4aeltNQZgu</string>
</dict>
</plist>
